:root {
  --green: #27ae60;
  --primary-color: #fff;
  --second-color:#222;
  --bg-color:#eee;
  --txt-color:#333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

body {
  background: var(--bg-color);
  padding-right: 5rem;
  color: var(--second-color);
}
.dark-mode   {
  background: rgb(97, 92, 92);
  color: var(--primary-color);
}

section {
  padding: 2rem 9%;
  min-height: 100vh;
}
.heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--second-color);
}
.heading span {
  text-transform: uppercase;
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--second-color);
color: var(--primary-color);
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 20px;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 1rem;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  z-index: 1000;
}

header .navbar {
  writing-mode: vertical-lr;
  padding: 1.5rem;
}

header .navbar a {
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--second-color);
}

header .navbar a:hover {
  color: var(--green);
}

#menu-bars {
  position: fixed;
  z-index: 1000;
  top: 1rem;
  left: 1rem;
  padding: 1rem 1.5rem;
  color: var(--primary-color);
  background: var(--green);
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 3rem;
  display: none;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  text-align: center;
  position: relative;
  z-index: 1;
}
.home .content img {  
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1rem solid var(--green);
}

.home .content h3 {
  font-size: 4rem;
  color: var(--second-color);
  text-transform: uppercase;
}
.home .content h3 span {
  color: var(--green);
  text-transform: inherit;
}

.home .content p {
  color: var(--second-color);
  font-size: 2.5rem;
  line-height: 2;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.about .row .image {
  text-align: center;
  flex: 1 1 25rem;
}

.about .row .image img {
  width: 30rem;
  border-radius: 0.5rem;
  border: 1rem solid var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.about .row .content {
  flex: 1 1 55rem;
}

.about .row .content h3 {
  color: var(--second-color);
  font-size: 4rem;
}
.about .row .content h3 span {
  color: var(--green);
}
.about .row .content .info {
  color: var(--txt-color);
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 2;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}
.about .row .content .box-container .box p {
  flex: 1 1 20rem;
  font-size: 2rem;
  padding: 0.5rem 0;
  line-height: 2;
  text-transform: none;
}
.box span {
  color: var(--green);
  font-weight: bold;
}

.portfolio .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.portfolio .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  border: 1rem solid var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 25rem;
}
.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #fff9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .box-container .box:hover .content {
  left: 0;
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}
.contact .row .image img {
  width: 100%;
}
.contact .row form {
  flex: 1 1 40rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: var(--primary-color);
}
.contact .row form .inputbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row form .inputbox input,
.contact .row form .box,
.contact .row form textarea {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  color: var(--txt-color);
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  text-transform: none;
}

.contact .row form .inputbox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus {
  border-color: var(--green);
}
.contact .row form .inputbox input {
  width: 49%;
}
.contact .row form textarea {
  height: 20rem;
  resize: none;
}

#dark{
  cursor: pointer;
  font-size: 2rem;
  color: #3f4642;
}












 @media (max-width:991px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }

  header {
    width: 100%;
    left: -120%;
  }

  header.active {
    left: 0%;
  }

  #menu-bars {
    display: initial;
  }
  header .navbar {
    writing-mode: horizontal-tb;
  }

  header .navbar a {
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 4rem;
  }

  .contact .row form .inputbox input {
    width: 100%;
  }
}
